html {
  scroll-behavior: smooth;
}

body {
  background-color: #EEE;
}

* {
  font-family: Helvetica, Arial, "Times New Roman";
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid rgb(153, 153, 153);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(238, 238, 238, 0.9);
}

header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header nav > a {
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
}

header nav > a {
  position: relative;
}

header nav > a::before {
  right: 0;
  bottom: 12px;
  content: "";
  border-right: 3px solid black;
  position: absolute;
  height: 60%;
  width: 1px;
}

header nav > a:last-child::before {
  border: none;
}

.logo {
  width: 150px;
}

section {
  margin: 0 10% 0 10%;
}

.columns {
  display: flex;
  flex-flow: row wrap;
}

.column {
  /*background-color: lightgray;
  border: 1px solid red;*/
  padding: 0 30px 0 0;
}

.bold {
  font-weight: bold;
}

.foto {
  width: 100px;
  border-radius: 14px;
}

.ticket {
  background-color: rgba(43, 143, 221, 0.8);
  padding: 3px 5px;
  border-radius: 7px;
  font-size: 12px;
  color: white;
  margin-left: 30px;
}

/* Language section */
.languages {
  display: flex;
  flex-flow: column wrap;

  border-color: red;
}

.language-element {
  display: flex;
  flex-flow: row wrap;

  border-color: blue;
}

.language-element > p {
  margin-right: 20px;
}

table {
  width: 100%;
  max-width: 400px;
}

.language-text {
  white-space: nowrap;
}

.line {
  height: 25px;
  min-width: 50%;
  margin: 0 auto 10px;
  padding-bottom: 10px !important;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}

.line:before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background: #d2d6d7;
}

.line:after {
  content: '';
  background: #333;
  height: 25px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.line1:after {
  max-width: 100%;
}

.line2:after {
  max-width: 95%;
}

.line3:after {
  max-width: 60%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip > img {
  max-width: 32px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  bottom: 130%;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

footer {
  /*margin: auto;*/
  margin-top: 50px;
  background-color: black;
  padding: 20px 50px 0 50px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: white;
}

footer .bold {
  font-weight: bold;
}

footer .social-media {
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer .social-media img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  background-color: black;
  padding: 20px 50px 0 50px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: white;
}

footer .bold {
  font-weight: bold;
}

footer .social-media {
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer .social-media img {
  height: 100px;
  width: 100px;
}
